@font-face {
    font-family: 'THSarabun';
    src: url('fonts/THSarabun.eot');
    src: url('fonts/THSarabun.eot#iefix') format('embedded-opentype'),
         url('fonts/THSarabun.woff') format('woff'),
         url('fonts/THSarabun.ttf') format('truetype'),
         url('fonts/THSarabun.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body { 
    font-size: 16px;
}

span{
    border-bottom: 1px dotted black;
}

h3{
    margin: auto;
    padding: 5px;
    text-align: center;
}

.main{
    margin: auto;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15%;
}

.para1{
    margin-top: 5px;
    margin-bottom: 5px;
}

.para2{
    margin-top: 5px;
    margin-bottom: 5px;
}

.para3{
    margin-top: 30px;
    margin-bottom: 30px;
}

h1{
    padding-top: 1px;
    padding-bottom: 1px;
}

.now{
    text-align: right;
}